priority -50

snippet copyright
"""
**Author:** `git config --get user.name` <`git config --get user.email`>
**Date:** `date +%Y-%m-%d`

## License

	NOTICE

	This software was produced for the U. S. Government under Contract No.
	FA8702-19-C-0001, and is subject to the Rights in Noncommercial Computer
	Software and Noncommercial Computer Software Documentation Clause
	252.227-7014 (FEB 2014)

	Copyright `date +%Y` The MITRE Corporation.
"""
endsnippet

